MAP_STUDIO_HOSTNAME=map-studio.local
MAP_STUDIO_LAN_IP=
MAP_STUDIO_GITHUB_OWNER=Hiraeth-Adventuring-Information-Repos
MAP_STUDIO_GITHUB_REPO=map.hiraeth
MAP_STUDIO_GITHUB_APP_ID=
MAP_STUDIO_GITHUB_INSTALLATION_ID=
MAP_STUDIO_PASSWORD_SECRET_FILE=./.secrets/map-studio-password.txt
MAP_STUDIO_GITHUB_PRIVATE_KEY_SECRET_FILE=./.secrets/github-app-private-key.pem
MAP_STUDIO_GITHUB_TOKEN_SECRET_FILE=./deploy/empty-secret
