{
    default_sni {$MAP_STUDIO_LAN_IP:127.0.0.1}
}

{$MAP_STUDIO_HOSTNAME:map-studio.local}, {$MAP_STUDIO_LAN_IP:127.0.0.1} {
    tls internal
    encode zstd gzip
    reverse_proxy map-studio:8010

    header {
        Strict-Transport-Security "max-age=31536000"
    }
}
